# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv
venv/

# =========================
# Data
# =========================
*.bin

# =========================
# Model checkpoints
# =========================
saved_models/
*.pt
*.pth